<%# TODO: Do we really need both panel and card? panel is for bootstrap but I like the card language %>
<% theme ||= :default %>
<fieldset class="<%= dom_class(object, name) %> panel <%= "panel-#{theme}" %>">
  <legend class="panel-heading">
    <%# TODO: make the translation generic e.g. based on the action %>
    <%= content_tag :h3, t("sipity/works.label.#{name}_html"), class: 'panel-title' %>
  </legend>
  <div class="panel-body">
    <%= yield %>
  </div>
</fieldset>
