<%# TODO: Do we really need both panel and card? panel is for bootstrap but I like the card language %>
<fieldset class="<%= dom_class(object, name) %> panel panel-default card">
  <legend class="panel-heading card-heading">
    <%# TODO: Translate the name into a question %>
    <h3 class="panel-title card-title"><%= name %></h3>
  </legend>
  <div class="panel-body card-body">
    <%= content.call.html_safe %>
  </div>
</fieldset>
