# Use the following configuration when running the reek command
#
# ```console
# $ bundle exec reek -c .reek.config app/
# ```
#
# See https://github.com/troessner/reek for more details
---
LongParameterList:
  enabled: true
  exclude: []
  max_params: 4
  overrides:
    initialize:
      max_params: 5
UtilityFunction:
  enabled: false
PrimaDonnaMethod:
  enabled: false
FeatureEnvy:
  exclude:
    - "Sipity::Services::Notifier#deliver_email"
    - "Sipity::Conversions::ConvertToPermanentUri#convert_to_permanent_uri"
    - "Sipity::Conversions::ConvertToPolymorphicType#convert_to_polymorphic_type"
    - "Sipity::Conversions::ConvertToProcessingActionName#convert_to_processing_action_name"
    - "Sipity::Conversions::ConvertToProcessingActor#convert_to_processing_actor"
    - "Sipity::Conversions::ConvertToProcessingEntity#convert_to_processing_entity"
    - "Sipity::Conversions::ConvertToProcessingStrategyId#convert_to_processing_strategy_id"
    - "Sipity::Conversions::ConvertToRegisteredAction#convert_to_registered_action"
    - "Sipity::Conversions::ConvertToWork#convert_to_work"
    - "Sipity::Conversions::ConvertToYear#convert_to_year"
    - "Sipity::Conversions::ConvertToProcessingAction#convert_to_processing_action"
    - "Sipity::Conversions::ExtractInputDateFromInput#extract_input_date_from_input"
    - "MultiValueInput#render_element_id"
    - "Sipity::Mappers::EtdMapper#decode_access_right"
    - "Sipity::Mappers::EtdMapper#gather_work_metadata"
    - "Sipity::Mappers::EtdMapper#transform_attributes_to_metadata"
    - "Sipity::Mappers::GenericFileMapper#content_datastream"
    - "Sipity::Mappers::GenericFileMapper#decode_access_rights"
    - "Sipity::Mappers::GenericFileMapper#gather_attachment_metadata"
    - "Sipity::Mappers::GenericFileMapper#rels_ext_datastream"
    - "Sipity::Mappers::GenericFileMapper#transform_attributes_to_metadata"
    - "Sipity::Parameters::EntityWithAdditionalAttributesParameter#additional_attributes="
    - "Sipity::Policies#find_policy_enforcer_for"
    - "Sipity::Controllers::CollaboratorPresenter#label"
    - "Sipity::Controllers::TranslationAssistant#inject_work_type"
    - "Sipity::Controllers::TranslationAssistantForPolymorphicType#call"
    - "Sipity::ProcessingHooks::Etd::Works::GradSchoolSignoffProcessingHook#call"
    - "Sipity::ProcessingHooks::Etd::Works::SubmitForReviewProcessingHook#call"
    - "Sipity::ProcessingHooks#find_the_hook"
    - "Sipity::Commands::WorkCommands#assign_collaborators_to"
    - "Sipity::Commands::WorkCommands#manage_collaborators_for"
    - "Sipity::Queries::ProcessingQueries#collaborators_that_have_taken_the_action_on_the_entity"
    - "Sipity::Queries::ProcessingQueries#scope_permitted_entity_strategy_actions_for_current_state"
    - "Sipity::Queries::ProcessingQueries#scope_permitted_entity_strategy_state_actions"
    - "Sipity::Queries::ProcessingQueries#scope_permitted_strategy_actions_available_for_current_state"
    - "Sipity::Queries::ProcessingQueries#scope_permitted_without_concern_for_repetition_entity_strategy_actions_for_current_state"
    - "Sipity::Queries::ProcessingQueries#scope_processing_entities_for_the_user_and_proxy_for_type"
    - "Sipity::Queries::ProcessingQueries#scope_processing_strategy_roles_for_user_and_entity_specific"
    - "Sipity::Queries::ProcessingQueries#scope_processing_strategy_roles_for_user_and_strategy"
    - "Sipity::Queries::ProcessingQueries#scope_proxied_objects_for_the_user_and_proxy_for_type"
    - "Sipity::Queries::ProcessingQueries#scope_strategy_actions_with_completed_prerequisites"
    - "Sipity::Queries::ProcessingQueries#users_that_have_taken_the_action_on_the_entity"
    - "Sipity::Queries::WorkQueries#find_works_for"
    - "Sipity::Queries::WorkQueries#find_works_via_search"
    - "Sipity::ResponseHandlers::DefaultHandler#default_responder"
    - "Sipity::GuardInterfaceExpectation#guard_interface_collaborator_expectations!"
    - "Sipity::GuardInterfaceExpectation#guard_interface_expectation!"
    - "Sipity::Services::ApplyAccessPoliciesTo#find_or_create_access_right_from"
    - "Sipity::Services::NetidQueryService#url"
