language: ruby
cache: bundler
sudo: false
rvm:
  - "2.1.5"
  - "2.1.10"
  - "2.2.5"
  - "2.3.1"

matrix:
  allow_failures:
    - rvm: "2.3.0"

script: 'bundle exec rake spec:travis'

notifications:
  irc: "irc.freenode.org#ndlib"

bundler_args: --without development debug doc

before_install:
  - gem install bundler

addons:
  code_climate:
    repo_token: d25517494137c5bf0d9acca7243f70eba7ec0c354940c54eb33ec395b05900de

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
