<p>
  Thank you for submitting your project proposal.
  We will review "<%= link_to(@entity.title, @entity.email_message_action_url) %>" and contact you soon to gather more information.
</p>

<p>You can review your submission at the following link:</p>

<p><%= link_to(@entity.email_message_action_url, @entity.email_message_action_url) %></p>

<p>Thank you again for your proposal. If you have questions, please contact us.</p>
<p>
  Sincerely,
  <br />
  Project Management Office
</p>
