<h2>Important Dates</h2>

<ul>
  <li>3/13/16 Submission window opens</li>
  <li>4/13/16 Complete application packages due</li>
  <li>4/15/16 Award recipients notified</li>
  <li>4/29/16 Awards given during the Undergraduate Scholars Conference Awards Reception</li>
</ul>
