<h2>Questions?</h2>

<ul>
  <li>Online application technical issues: <%= mail_to("cds@nd.edu") %></li>
  <li>Policy/procedure questions: <%= mail_to("ulra­group@nd.edu") %></li>
</ul>

<h2>About ULRA</h2>

<p>
  <strong>Hesburgh Libraries and the Center for Undergraduate Scholarly Engagement</strong> (CUSE) award the annual Undergraduate Library Research Award (ULRA) to undergraduate students whose work demonstrates the highest levels of scholarship and information literacy.
  Established in 2010 to promote intellectual discovery and the advancement of lifelong learning, the ULRA recognizes undergraduates who demonstrate excellent research skills that utilize a breadth of library resources, collections, and services for their scholarly and creative projects. Research projects are evaluated by teaching faculty and members of the <strong>ULRA selection committee</strong>.
<p>
<p>
  <a href="http://library.nd.edu/ulra/">library.nd.edu/ulra</a>
</p>
