<p>
  A complete application package has been received for the <%= @entity.title %> project, and has been sent forward for review by the Selection Committee
</p>

<p>Thank you for your participation!</p>

<%= render(partial: 'sipity/mailers/ulra_mailer/important_dates', object: @entity) %>

<%= render(partial: 'sipity/mailers/ulra_mailer/questions_and_about_ulra', object: @entity) %>

<!-- app/views/sipity/mailers/ulra_mailer/confirmation_of_submitted_to_ulra_committee.html.erb -->
