<p>You have successfully submitted the student portion of your ULRA application.</p>

<p>
  <strong>Note:</strong> It is your responsibility to ensure that your advisor submits the letter of recommendation before the deadline.
  If not received by the due date, your application is not eligible for consideration, even if your components were submitted on time.
</p>

<p>
  <strong>Note:</strong> If you submitted a writing sample in place of your final project file, you must submit a <strong>complete</strong> final project file to be eligible to receive the award.
</p>

<%= render(partial: 'sipity/mailers/ulra_mailer/important_dates', object: @entity) %>

<%= render(partial: 'sipity/mailers/ulra_mailer/questions_and_about_ulra', object: @entity) %>

<!-- app/views/sipity/mailers/ulra_mailer/student_completed_their_portion_of_ulra.html.erb -->
