<p>
  <%= @entity.creator_names.to_sentence %> has uploaded the completed version of their Final Project "<%= link_to(@entity.title, @entity.email_message_action_url) %>".</p>
</p>
<!-- app/views/sipity/mailers/ulra_mailer/student_completed_their_portion_of_ulra.html.erb -->
