.action-listing {
  list-style-type: none;
  margin: 0;
  padding: 0 0 1em;

  .action-wrapper {
    display: inline-block;
    padding-right: .5em;
  }
}

.panel-footer .action-listing {
  padding-bottom: 0;
}
