@import 'bootstrap/variables';

.attribute-listing {
  margin-bottom: 0;
  word-break: break-word;

  .predicate:after {
    content: ':';
  }

  .occurrences {
    margin-bottom: 0;
    padding-left: 0;

    > .occurrence {
      list-style-type: none;
    }
  }

  .value {
    padding-left: 1em;
    word-break: break-all;

    p:last-child {
      margin-bottom: 0;
    }

    .occurances {
      padding-left: 0;
    }

  }
}

.multi-value .listing {
  padding: 0;

  li {
    list-style-type: none;
  }
}

@media only screen and (min-width: 550px) {
  .attribute-listing {
    float: left;
    width: 100%;

    .predicate {
      clear: both;
      float: left;
      padding-bottom: .3em;
      width: 30%;
    }

    .value {
      float: right;
      padding-bottom: .3em;
      width: 70%;
    }
  }
}

.nested-attribute-definition {
  margin-bottom: 0;
}

.nested-attributes-list {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  .nested-attribute-list {
    clear: both;
    float: left;
    padding: .3em 0;
    width: 100%;
  }

  .nested-attribute-list:first-child {
    padding-top: 0;
  }

  .nested-attribute-list:nth-child(even) {
    background-color: $table-bg-accent;
    border-color: $table-border-color;
    border-style: solid;
    border-width: 1px 0;
  }
}

.nested-attribute-item {
  float: left;
  width: 100%;
}
