.attribute-listing {
  margin-bottom:0;

  .predicate:after {
    content:':'
  }
  .value {
    padding-left:1em;

    p:last-child {
      margin-bottom:0;
    }

    .occurances {
      margin-bottom:0;
    }

    ul.occurances {
      padding-left:0;
    }

    .occurances > .occurance {
      list-style-type:none;
    }
  }
}

.multi_value .listing {
  padding:0;

  li {
    list-style-type:none;
  }
}

@media only screen and (min-width: 550px) {
  .attribute-listing {
    width:100%;
    float:left;

    .predicate {
      clear:both;
      float:left;
      padding-bottom:.3em;
      width:30%;
    }
    .value {
      float:right;
      padding-bottom:.3em;
      width:70%;
    }
  }
}

.nested-attribute-definition {
  margin-bottom:0;
}

.nested-attributes-list,  {
  list-style-type:none;
  margin:0;
  padding:0;
  float:left;
  width:100%;
}

.nested-attribute-item {
  float:left;
  width:100%;
}
