.dashboard-actions {
  margin-bottom: 1em;
  margin-top: 1em;
}

.work-create {
  padding-top: 15px;
}

@media only screen and  (min-width: 750px) {
  .work-create {
    padding-top: 0;
    text-align: right;
  }
}
