.application-notifications {
  padding-left: 15px;
  padding-right: 15px;

  .alert {
    margin-bottom: .5em;
  }
}

.simple_form {
  .alert {
    margin-bottom: 1em;
  }

  .controls .help-inline {
    margin-left: .5em;
  }
}

