.application-notifications {
  .alert {
    margin-bottom:.5em;
    overflow:scroll;
  }
}

.simple_form {
  .alert {
    margin-bottom:1em;
  }

  .controls .help-inline {
    margin-left:.5em;
  }
}

