@import "bootstrap/variables";

fieldset.panel {
  position:relative;

  legend {
    position:absolute;
  }

  legend + .panel-body {
    margin-top:37px; // Assumes a 16px font size (like .panel-title h3)
  }

  // Field validations are automatically placed in span.help-inline
  .help-inline {
    color:$alert-danger-text;
  }
}
