@import 'bootstrap/variables';

.simple-form.panel,
.simple-form .panel {
  position: relative;

  &.with-footer {
    padding-bottom: 4em;
  }

  .panel-heading {
    position: absolute;

    + .panel-body {
      margin-top: 40px; // Assumes a 16px font size (like .panel-title h3)
    }
  }

  .panel-body {
    overflow: auto;
    width: 100%;
  }

  // Field validations are automatically placed in span.help-inline
  .help-inline {
    color: $alert-danger-text;
  }

  .panel-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

// Grid of panels
.panel-tiles .panel {
  border: none;
  box-shadow: none;
  //box-shadow: 0 0 0 transparent;

  .panel-body {
    padding: 6px 2px 10px;
  }
}

@media only screen and (min-width: 550px) {
  .panel-tiles .panel {
    max-width: 60%;
  }
}
