.table td > .controls {
  display:inline;
}

.table .with-columns > div:first-child {
  padding-left:0;
}

// WARN: Content-specifc styles for collaborator view
.table.collaborators {
  min-width:710px;
}

.table.collaborators .contact-information {
  .controls,
  .form-control {
    display:inline-block;
    width:auto;
    float:left;
  }
  .choice {
    line-height:34px;
    padding:0 10px;
  }
  .scope {
    float:left;
    line-height: 34px;
    padding-right:6px;
  }
}

