.work-tasks {
  padding-bottom:1em;
}

.task-heading {
  margin-top:0;
}

ul.item-list {
  list-style-type:none;
}

.item-list {
  margin:0;
  padding:0;
}

.todo-item {
  border-bottom:1px solid #efefef;
  margin-bottom:.5em;
  padding-left:30px;
  padding-right:50px;
  position:relative;
  line-height:3;
}

.todo-item-trigger {
  position:absolute;
  top:3px;
  right:0;
}

.set-title {
  font-variant:small-caps;
  letter-spacing:.05em;
  text-transform:lowercase;
  margin-top:.5em;
}

.todo-item .circle {
  border-radius:10px;
  border:1px solid #efefef;
  height:20px;
  left:0;
  position:absolute;
  top:11px;
  width:20px;
}

.todo-item .complete-icon {
  left:0;
  position:absolute;
  top:8px;
}

.todo-item .item-name {
  display:inline-block;
  line-height:1.4;
}

.recommendations {
  margin-bottom:2em;
}

.work-actions {
  padding-top:1em;
}
