$lightest-gray: #efefef;

.work-tasks {
  padding-bottom: 1em;
}

.task-heading {
  margin-top: 0;
}

.item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  border-bottom: 1px solid $lightest-gray;
  line-height: 3;
  margin-bottom: .5em;
  padding-left: 30px;
  padding-right: 50px;
  position: relative;

  .circle {
    border: 1px solid $lightest-gray;
    border-radius: 10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 20px;
  }

  .complete-icon {
    left: 0;
    position: absolute;
    top: 8px;
  }

  .item-name {
    display: inline-block;
    line-height: 1.4;
  }
}

.todo-item-trigger {
  position: absolute;
  right: 0;
  top: 3px;
}

.set-title {
  font-variant: small-caps;
  letter-spacing: .05em;
  margin-top: .5em;
  text-transform: lowercase;
}

.recommendations {
  margin-bottom: 2em;
}

.work-actions {
  padding-top: 1em;
}
