.task-heading {
  margin-top:0;
}

ul.item-list {
  list-style-type:none;
}

.item-list {
  margin:0;
  padding:0;
}

.todo-item {
  margin-bottom:.5em;
}

.set-title {
  font-variant:small-caps;
  text-transform:lowercase;
  margin-top:.5em;
}

.icon-wrapper-24 {
  display:inline-block;
  line-height:36px;
  position:relative;
  width:24px;
}

.icon-wrapper-24 svg {
  bottom:-8px;
  position:absolute;
}

.recommendations {
  margin-bottom:2em;
}

.work-actions {
  padding-top:1em;
}
