<%# When the student's portion is done but they may have additional questions %>
<p>
  If you have any questions or concerns about this submission, please contact Shari Sweet at <a href="mailto:shill2@nd.edu" target="_top">shill2@nd.edu</a> or the Graduate School at <a href="mailto:dteditor@nd.edu" target="_top">dteditor@nd.edu</a> for assistance.
</p>
