<p>Your research director committee has approved your <%= @entity.work_type %> for submission to the Graduate School. Your document has now been added to the Graduate School’s queue for review.</p>

<%= render partial: 'etd_submission_assistance' %>
<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>