<p>
  Thank you for your patience.
  We are sending your <%= @entity.work_type %> to be cataloged and ingested into CurateND.
</p>

<%= render partial: 'sipity/mailers/etd_mailer/assistance_for_grad_students_work_is_done_but_may_have_questions' %>
