<p>On [director approval date], [Research director’s full name] approved the following <%= @entity.work_type %> for submission to the Graduate School in partial fulfillment of the requirements for the degree of <%= @entity.degree %>.</p>
<ul>
  <li>Title: <%= @entity.title %></li>
  <li>Student:  [Student name]</li>
  <li>NetID: [NetID]</li>
  <li>Graduate Program(s): [Graduate program names]</li>
  <li>Initial access Type: <%= @entity.access_type %></li>
</ul>
<p>Faculty approvals required: [All research directors for this submission]</p>
<p>To begin the Graduate School review, access the record via the following link:</p>
<ul>
  <li>[Sipity link]</li>
</ul>

