<p>Your research director committee has approved your <%= @entity.work_type %> for submission to the Graduate School. Your document has now been added to the Graduate School’s queue for review.</p>
<p>If you have not yet submitted the other items required, please refer to the Graduate School’s <a href="http://graduateschool.nd.edu/resources-for-current-students/dt/dt-checklist/">submission checklist</a>.  If you have questions about your ETD record or the other submission materials, please contact me or my assistant at <a href="mailto:dteditor@nd.edu">dteditor@nd.edu</a> or 574-631-7545 for assistance.</p>

<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>