<p>The following <%= @entity.work_type %> was  ingested into CurateND on <%= @entity.create_date %>:</p>
<ul>
  <li>Title: <%= @entity.title %></li>
  <li>Student: [Student name]</li>
  <li>NetID: [NetID]</li>
  <li>Graduate Program(s): [Graduate program names]</li>
</ul>
<p> You may access the record at this link: [CurateND URL]</p>
