<p>Welcome to the Electronic Thesis and Dissertation (ETD) submission site. You have begun a formal submission for the following document:</p>

<dl>
  <dd>Title: </dd> <dt>@entity.title</dt>
  <dd>Submission Type: </dd> <dt>@entity.work_type</dt>
</dl>

<p>To access your ETD record, please use the following URL: <%= link_to @entity.email_message_action_url, @entity.email_message_action_url %></p>

<p>After you’ve completed the descriptive information and uploaded your file(s), be sure to click the “Submit” button to begin the final review process. <em>Please note: you will be unable to edit the record while it is under review.</em></p>

<%= render partial: 'etd_submission_assistance' %>
<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>
