<p>
  The Graduate School’s dissertation and thesis editor has reviewed your <%= link_to "your #{@entity.work_type}", @entity.email_message_action_url %> and has indicated that the submitted file(s) or ETD record requires corrections or clarification.
</p>

<p><strong>Graduate School Comments:</strong></p>
<blockquote><%= @entity.comment %></blockquote>

<p>If you have questions about your comments, the ETD record, or the other <a href="http://www.google.com/url?q=http%3A%2F%2Fgraduateschool.nd.edu%2Fresources-for-current-students%2Fdt%2Fdt-checklist%2F&sa=D&sntz=1&usg=AFQjCNGvwVT72W1yRY7b1cf01bMby9lmxw">submission materials</a>, please contact me or my assistant at <a href="mailto:dteditor@nd.edu">dteditor@nd.edu</a> or 574-631-7545 for assistance.</p>

<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>