<%# add navigation links to this file %>
<% if signed_in? %>
  <li><%= link_to_unless_current t('application.navigation.dashboard'), dashboard_path %></li>
  <li><%= link_to_unless_current t('application.navigation.sign_out'), revoke_authentication_path, :method=>'delete' %></li>
  <li><%= current_user.name %></li>
<% else %>
  <li><%= link_to_unless_current t('application.navigation.sign_in'), authentication_path %></li>
<% end %>
